body {
  margin: 0;
  background-color: lightblue;
  color: rgb(22, 22, 22);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-size: 120px;
    font-weight: bold;
    color: rgba(245, 245, 245, 0);
    // background-color: rgba(251, 240, 22, 0.1);

    // border: 1px solid none;
    border-radius: 20px;
    // padding: 50px 30px 2px 30px;
    -webkit-text-stroke-color: rgb(251, 240, 22);
    -webkit-text-stroke-width: 5px;
  }

  .quotes {
    position: relative;
    font-size: 60px;

    .quotesMsg {
      color: crimson;
      font-weight: 600;
      -webkit-text-stroke-color: wheat;
      -webkit-text-stroke-width: 2px;
    }

    .quotesAddBtn {
      display: none;

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }
}

.lion {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.lion img {
  width: 100px;
  height: 100px;
}
