@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background-color: lightblue;
  color: rgb(22, 22, 22);
  font-family: "jua", sans-serif;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-size: 100px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
    // background-color: rgba(251, 240, 22, 0.1);

    // border: 1px solid none;
    // border-radius: 20px;
    // padding: 50px 30px 2px 30px;
    -webkit-text-stroke-color: deeppink;
    -webkit-text-stroke-width: 2px;
  }

  .quotes {
    position: relative;
    font-size: 100px;

    .quotesMsg {
      color: blue;
      font-weight: 600;
      -webkit-text-stroke-color: whitesmoke;
      -webkit-text-stroke-width: 1px;
    }

    .quotesAddBtn {
      display: none;

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }
}

// Chat GPT
.search {
  .searchTitle {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .searchLogo {
    width: 100px;
    height: 100px;

    // background-color: blueviolet;
    animation: spin 1s ease-in-out alternate-reverse infinite;
  }

  .gpttext {
    width: 800px;
    height: 30px;
    line-height: 30px;
    // background-color: aqua;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 5px;
    color: gold;
  }
}

.searchForm {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: chartreuse;

  .searchInput {
    width: 600px;
    height: 50px;
    background-color: rgba(127, 255, 212, 0.7);
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
  }

  .searchButton {
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    // font-size: 24px;
    // font-weight: bold;
    // color: whitesmoke;
    border-radius: 5px;
    border: 3px solid rgb(127, 255, 212, 0.5);
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background-color: crimson;
      border: 3px solid rgb(127, 255, 212);
      // border: 3px solid rgb(128, 128, 128);
    }
  }

  .searchButton > img {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.searchResult {
  display: none;
}

@keyframes slide {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  35% {
    left: -256px;
  }
  65% {
    left: -256px;
  }
  70% {
    left: -512px;
  }
  95% {
    left: -512px;
  }
  100% {
    left: 0;
  }
}

.nft {
  position: fixed;
  width: 256px;
  height: 256px;
  top: 0;
  right: 0;
  margin: 24px;
  // overflow: hidden;

  div {
    width: 768px;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    animation: slide 10s linear infinite;
  }

  img {
    width: 256px;
    height: 256px;
  }

  .nftHover {
    position: absolute;
    display: none;
    width: 256px;
    height: 256px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    .nftHover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.nftMore {
  position: fixed;
  // width: 256px;
  // height: 256px;
  // line-height: 256px;
  text-align: center;
  top: 130px;
  right: 105px;
  // margin: 24px;
  z-index: 999;
  // display: none;
  // background-color: rgba(0, 0, 0, 0.5);
}

.nftMore a {
  font-size: 30px;
  color: whitesmoke;
  // position: absolute;
  // width: 90px;
  // height: 90px;
  // line-height: 90px;
  // text-align: center;
  // padding: 20px;
  // border: 5px dotted cyan;
  // border-radius: 9999px;
  // display: none;
}

.nftXbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: -8px;
  border-radius: 9999px;
  background-color: crimson;
  border: 3px solid cyan;
  color: gold;
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  position: fixed;
  // line-height: 50px;
}

.nftView {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
  display: none;
  width: 80px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
}
